@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">La API se inicio correctamente</h1>
    <p>Dirigete a la aplicacion del cliente, si existe algun error al comunicarse con el servidor verifica que la direccion asignada sea el puerto 7299.</p>
    <p>De lo contrario actualizalo con tu direccion asignada en el archivo ClientePuntoDeVenta -> Servicios -> InventarioCliente.cs</p>
    <footer>
		<p>API de Punto de Venta</p>
		<p>Desarrollado por: Ian Alvarez, Juan Pablo Rivera y Angela Azucena</p>
		
    </footer>
</div>


